:root {
    --heading-background-color: #1B4965;
    --heading-text-color: #CAE9FF;
    --heading-font: 'Oswald';
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
    position: absolute;
    text-align: center;
   
}

h2 {
    color: var(--heading-text-color);
    font-family: 'Montserrat';
    
}

p {
    font-family: 'Montserrat';

}

a {
    text-decoration: none;
    font-family: 'Oswald';
}

.hero {
    margin: 10px auto;
    position: relative;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h1 {
  background-color: var(--heading-background-color);
  color: var(--heading-text-color);
    max-width: 80%; 
    float: right;
}