
:root {
    --heading-background-color: #1B4965;
    --heading-text-color: #CAE9FF;
    --accent1-color: #62B6CB;
    --accent2-color: #BEE9E8;
    --heading-font: 'Oswald', sans-serif; 
    --text-font: 'Montserrat', sans-serif;
    --border: 1px solid;
    --margin: 1rem;
    --padding: 1rem;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--heading-background-color);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--heading-font);
    z-index: 1;
}

.hero article {
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.hero article p {
    color: var(--heading-text-color);
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--heading-background-color);
    font-family: var(--text-font);
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 14rem;
    padding: 3rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
}
h1 {
    color: var(--heading-text-color);
    font-family: var(--heading-font)
}
h2 {
    color: var(#ffffff);

    
}

p {
    font-family: var(--text-font);

}

a {
    text-decoration: none;
    font-family: var(--heading-font);
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-content: center;
    border: 1rem;
    padding: 1rem;
    
}


header,.hero, footer  {
    max-width: 1130px;
    margin: 0 auto;
}
body {
    font-family: var(--text-font);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header nav a {
    display: block;
    background-color: var(--heading-background-color);
    padding: 8px;
    align-content: space-around;
    justify-content: space-evenly;
    font-size: 20px;
    color: var(--heading-text-color);
    width: 150px;
    text-align: center;
    font-weight: 700;
}

.history {
    padding: 3rem;
    text-align: center;
}
.history h2 {
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    padding: var(--padding);
    margin: var(--margin);
    border: var(--border);


}
.history-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.history-story img {
    width: 800px;
    height: 180px;
    
}

.adventure {
    
    background-color: var(--accent2-color);
    color: var(--heading-background-coor);
    padding: 4rem;
    text-align: center;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.adventure h2 {
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    padding: var(--padding);
    margin: var(--margin);
    border: var(--border);
}
.adventure-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0rem;
    max-width: 900px;
    margin: 0 auto;
}

.adventure img {
    width: 120px;
    height: 150px;
    display: block;
    object-fit: cover;
}

.adventure figcaption {
    left: 10px;
    background-color: var(--accent2-color);
    font-size: 1.2rem;
    padding: 5px 5px;

}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    
}

footer p {
    text-align: center;
    flex-grow: 1;
}
footer .sociallinks {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    text-align: center;
    
    
}
footer .sociallinks a {
    display: flex;
}

footer .sociallinks img {
    width: 40px;
    height:40px;
    margin: var(--margin);
}