
:root {
    --heading-background-color: #1B4965;
    --heading-text-color: #CAE9FF;
    --accent1-color: #62B6CB;
    --accent2-color: #BEE9E8;
    --heading-font: 'Oswald', sans-serif; 
    --text-font: 'Montserrat', sans-serif;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--heading-background-color);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--heading-font);
    z-index: 1;
}

.hero article {
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.hero article p {
    color: var(--accent1-color);
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--heading-text-color);
    font-family: var(--text-font);
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 14rem;
    padding: 3rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
}
h1 {
    color: var(--heading-text-color);
    font-family: var(--heading-font)
}
h2 {
    color: var(--heading-text-color);
    font-family: var(--text-font);
    
}

p {
    font-family: var(--text-font);

}

a {
    text-decoration: none;
    font-family: var(--heading-font);
}

header, main , footer {
    max-width: 1200px;
    margin: 0 auto;
}
body {
    font-family: var(--text-font);
}