
:root {
    --heading-background-color: #1B4965;
    --heading-text-color: #CAE9FF;
    --accent1-color: #62B6CB;
    --accent2-color: #BEE9E8;
    --heading-font: 'Oswald', sans-serif; 
    --text-font: 'Montserrat', sans-serif;
    --border: 1px solid;
    --margin: 1rem;
    --padding: 1rem;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--heading-font);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
    padding: 1rem;

}

.hero article p {
    color: var(--heading-background-color);
    font-size: 2.5rem;
    padding: 1.9rem;
    background-color: var(--heading-background-color);
    font-family: var(--text-font);
    color: #fff;
    background-color: #000;
    opacity: 0.7;
    
}

.hero article img {
    position: relative;
    z-index: 2;
    float: right;
    margin: 3.1rem;
    width: 14rem;
    height: auto;
    padding: 1rem;
    bottom: 1.3rem;
}

.hero img {
    width: 100%;
    height: 500px;
    z-index: 0;
}

h2 {
    color: var(--accent2-color);

    
}

p {
    font-family: var(--text-font);
    
   

}

a {
    text-decoration: none;
    font-family: var(--heading-font);
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-content: center;
    border: 1rem;
    padding: 1rem;
    
}


header,.hero, footer  {
    max-width: 2130px;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
}
body {
    font-family: var(--text-font);
    background-color: var(--heading-background-color);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header nav a {
    display: flex;
    background-color: var(--heading-background-color);
    padding: 8px;
    align-content: space-around;
    justify-content: space-evenly;
    font-size: 20px;
    color: var(--heading-text-color);
    width: 150px;
    text-align: center;
    font-weight: 700;
}

.history {
    padding: 3rem;
    margin: 1rem;
    text-align: center;
    background-color: var(--accent2-color);
    border-radius: 2rem;
}
.history h2 {
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    padding: var(--padding);
    margin: var(--margin);
    border: var(--border);
    border-radius: 2rem;


}
.history-content {
    display: flex;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: var(--heading-background-color);
}

.history-story img {
    width: 800px;
    height: 180px;
    
}

.adventure {
    
    background-color: var(--accent2-color);
    color: var(--heading-background-coor);
    padding: 4rem;
    text-align: center;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    border-radius: 2rem;
}

.adventure h2 {
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    padding: var(--padding);
    margin: var(--margin);
    border: var(--border);
    border-radius: 2rem;
}
.adventure-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0rem;
    max-width: 900px;
    margin: 0 auto;
    color: var(--heading-background-color);
    font-weight: 500;
}

.adventure img {
    width: 120px;
    height: 150px;
    display: block;
    object-fit: cover;
}

.adventure figcaption {
    left: 10px;
    background-color: var(--accent2-color);
    font-size: 1.2rem;
    padding: 5px 5px;

}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    
}

footer p {
    text-align: center;
    flex-grow: 1;
}
footer .sociallinks {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    color: var(--heading-text-color);
    
    
}
footer .sociallinks a {
    display: flex;
    width: 50px;
    height: 50px;
}

footer .sociallinks img {
    width: 40px;
    height:40px;
}

.contact {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--accent2-color);
    border-radius: 2rem;


}
.contact h2 {
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    padding: var(--padding);
    margin: var(--margin);
    border: var(--border);


}

.contact-info {
    justify-content: space-between;
    text-align: left;
    gap: .5rem;
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
}
.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 1310px;
    margin: 0 auto;
    padding: 1rem;;
    width: 8800px;
    background-color: var(--accent2-color);
    font-family: var(--text-font);
}

.contact-info h3 {
    color: var(--heading-background-color);
    font-family: var(--text-font);
}
.contact-info img {
    width: 50px;
    height: 50px;
    gap: 1rem;
    
}

.support {
    background-color: var(--accent2-color);
    color: var(--heading-background-coor);
    padding: 1rem;
    text-align: center;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    border-radius: 2rem;
}

.support h2 {
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    padding: var(--padding);
    margin: var(--margin);
    border: var(--border);
}
.support-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0rem;
    max-width: 800px;
    margin: 0 auto;
}

.support img {
    width: 120px;
    height: 150px;
    display: block;
    object-fit: cover;
    background-color: #fff;
    padding: 20px;
    margin: 10px auto;
    border-radius: 200px;
    
      
}

.box {
    width: 400px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 150px;
    text-align: center;
    border-color: #000;
    border-style: solid;
}

.support-box {
    text-align: center;
    
}


form {
    width: 300px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #fff;
    display: grid;
}

form h3 {
    color: var(--heading-background-color);
    font-size: 1.1rem;
    font-family: var(--text-font);
    text-align: center;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    color: var(--heading-background-color);
    font-size: 1.3rem;
    font-weight: 700;
}

label, input, button, select, textarea {
    font-family: var(--text-font);
}

label {
    display: flex;
    

}

input, select, textarea {
    padding: 0.5rem;
    border-radius: .2rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    width: 230px;
}

input[type="radio"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    justify-content: center;
}



button {
    background-color: var(--heading-background-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 0.8rem;
    font-size: 1rem;
    
}

button:hover {
    background-color: var(--accent1-color);
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    justify-content: center;
}

.wireframe-links a {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    color: #fff;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--accent2-color);
    padding: 1rem;
    margin: 1rem;
    
}

.newsletter {
    width: 360px;
    height: 750px;
    background-color: #fff;
    color: var(--heading-background-color);
    font-family: var(--text-font);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.newsletter input::placeholder {
    color: var(--heading-background-color);
    font-family: var(--text-font);
    font-size: 1rem;
    padding: 0;
     
}

.newsletter input {
    width: 296px;
    padding: 0.2rem;
    border-radius: .5rem;
    border: 1px solid var(--heading-background-color);
    font-family: var(--text-font);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
    
}
.newsletter button {
    width: 300px;
    padding: 1rem;
}
.newsletter h2 {
    color: var(--heading-background-color);
    padding: 1rem;
}

.offers-trips {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}

.offers {
    width: 995px;
    height: 357px;
    background-color: #fff;
    color: var(--heading-background-color);
    font-family: var(--text-font);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    font-size: medium;
    font-weight: 600;
    gap: 1.5rem;    
}
.offers img{
    width: 120px;
    height: 180px;
}

.offers h2 {
    color: var(--heading-background-color);
}
.offer-item {
    text-align: center;
}

.offer-item img {
    height: 130px;
    padding: 1rem;
}
.trips {
    width: 1440px;
    height: 320px;
    background-color: var(--accent2-color);
    color: var(--heading-background-color);
    font-family: var(--text-font);
    font-weight: 600;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-size: medium;
    gap: 5rem;
   
}

.trips h2 {
    color: var(--heading-background-color);
}
.trips img {
    width: 500px;
    height: 250px;
    border-radius: 1rem;   
}

.trips button {
    width: 400px;
    height: 50px;
    background-color: var(--heading-background-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: var(--text-font);
    text-align: center;
    margin-top: 8rem;
}

.trips button:hover {
    background-color: var(--accent1-color);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--accent2-color);
}

.option-offer {
    width: 1405px;
    height: 1600px;
    background-color: #fff;
    color: var(--heading-background-color);
    font-family: var(--text-font);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    font-size: medium;
    font-weight: 600;
    gap: 1.5rem;
}

th[scope="row"] img {
    width: 150px; 
    height: auto; 
}
.option-offer h2 {
    color: var(--heading-background-color);
}

tbody tr:nth-child(odd) {
    background-color: #fff;
    color: var(--heading-background-color);
}
  
tbody tr:nth-child(even) {
    background-color: #fff;
    color: var(--heading-background-color);
}
  
table {
    width: 200px;
    height: 200px;
    background-color: var(--heading-background-color);
    color: #fff;
}

th, td {
    width: 250px;
    height: 50px;
    text-align: left;
    padding: 0.3rem;
}

.home-container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--accent2-color);
    padding: 1rem;
    margin: 1rem;
    
}

.activities {
    width: 800px;
    height: 1400px;
    background-color: #fff;
    color: var(--heading-background-color);
    font-family: var(--text-font);
    border-radius: 1rem;
    align-items: center;
    text-align: center;   
    padding-left: 2rem;
}

.activities h2 {
    color: var(--heading-background-color);
}

.membership {
    width: 995px;
    height: 357px;
    background-color: #fff;
    color: var(--heading-background-color);
    font-family: var(--text-font);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    font-size: medium;
    font-weight: 600;
    gap: 1.5rem;  
}

.membership img {
    width: 200px;
    height: 180px;

}
.testimonials-trips2 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}

.testimonials {
    width: 570px;
    height: 1368px;
    background-color: #fff;
    color: var(--heading-background-color);
    font-family: var(--text-font);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    font-size: medium;
    font-weight: 600;
}

.testimonials h2 {
    color: var(--heading-background-color);
}